.line {
  text-decoration: line-through;
}
img{
  width: 72%;
  margin: -3% 1% 1% 15%;
  opacity: 35%;
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: -1
}

.hero{
  margin: 10% 1% 1% 43%;
}
